.icon-primary path {
  fill: $primary;
}

.icon-secondary path {
  fill: $secondary;
}

.icon-white path {
  fill: white;
}

.icon-xs {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

.icon-lg {
  width: 2.5rem;
  height: 2.5rem;
}
